@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    padding: 24px 15%;
}

.header-links,
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
    gap: 36px;
}

a {
    text-decoration-line: none;
    color: inherit;
}

.header-logo {
    font-size: 24px;
    font-weight: 600;
}

.header-content{
    margin: 100px 0;
    gap: 100px
}

.title {
    font-size: 60px;
    font-weight: 900;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
}

.right {
    background-color: hsl(215, 10%, 50%);
    width: 700px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: 600;
    color: inherit;
    padding: 12px 32px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}


.content1 {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 64px 20% 240px;
    align-items: center;
}

.subtitle {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 64px;
}

.illustrations {
    display: flex;
    justify-content: center;
    gap: 32px;
    text-align: center;
}

.illustration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.fake-illustration {
    width: 200px;
    height: 200px;
    border: 5px solid #3882F6;
    border-radius: 10%;
}

.subtext {
    color: #1F2937;;
}